@charset "UTF-8";

* {
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
}
header {
    text-align: center;
}

.normal {
    background-color: black;
}

.imagem {

}

footer {
    text-align: center;
}